<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="assets/imagenes/Logo_DuocUC.png" alt="Mi Imagen" style="width: 300px; height: auto;" />
  

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio de sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div id="Conteiner">
        <ion-item class="neon-black">
          <ion-label position="floating" class="neon-blue">Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text" class="neon-blue"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-button color="secondary"(click)="iniciarSesion()">Iniciar Sesion</ion-button>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>