#Conteiner{
  display:  absolute;
  ;
}

/* Estilo para el ion-item con fondo negro neón */
.neon-black {

  background-color: #000; /* Fondo negro */
  color: #0ff; /* Texto celeste */
  border: 1px solid #0ff; /* Borde celeste */
}

/* Estilo para el ion-label y ion-input con texto celeste */
.neon-blue {
  color: #0ff; /* Texto celeste */
}

ion-card {
  --background: #000;
  --color: #9efff0;
}

/* Estilo para el texto dentro del ion-input en negro */

ion-item{
  --background: #000; /* Texto negro */
}
