
<ion-header [style.visibility]="content_visibility">
  <ion-toolbar color="warning">
    <ion-title>
      Escaneo de QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">


  <ion-button 
      expand="full" 
      (click)="startScan()"
      style="position:block; margin-top: 70%; ">
      Escanea el QR
    </ion-button>

  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">Asistencia tomada: {{scannedResult}}</ion-label>
  </ion-item>
  
</ion-content>

