<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Hora y Fecha</ion-card-title>
      </ion-card-header>
      <ion-item class="neon-black" position="floating">
        <ion-datetime locale="es-ES">
          <span slot="time-label">Tiempo</span>
        </ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>