<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-header>
    <ion-toolbar color="warning">
      <ion-segment [(ngModel)]="selectedDay">
        <ion-segment-button value="Lunes">Lunes</ion-segment-button>
        <ion-segment-button value="Martes">Martes</ion-segment-button>
        <ion-segment-button value="Miércoles">Miércoles</ion-segment-button>
        <ion-segment-button value="Jueves">Jueves</ion-segment-button>
        <ion-segment-button value="Viernes">Viernes</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-padding">
      <ng-container *ngFor="let dato of datito">
        <ion-card *ngIf="selectedDay === dato.dia">
          <ion-card-header>
            <div class="card-title">{{ dato.title }}</div>
          </ion-card-header>
          <ion-card-content>
            {{ dato.Horario }}
          </ion-card-content>
        </ion-card>        
      </ng-container>
    </div>
  </ion-content>
  